
li{
    list-style: none;
    font-size:1.2rem;
    width:100%;
    padding-top:5px;
    font-family: 'Open Sans', sans-serif;

}

.main{
    display:grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(5, 180px);
   ;}


    .nav{
        background-color: #CA0010;
        color:white;
        grid-row:1 /6;
        grid-column:1/ 2;
       
       
    }
    .header{
        background-color:#2241b3;
     
      
          
           grid-column: 2/8;
           grid-row:1/2; 
       
       }
       .notifications{
        background-color:darkgray;
          display:grid;
           grid-column: 5/8;
           grid-row:2/6;
           grid-template-rows: repeat(auto-fill, 1fr);
       
       }

       .notifications div{
        background-color: white;
       margin:10px;
         padding:20px;
       }
       
.logo{
    border:1px solid #CA0010;
    background-color: white;
}

ul{
    display:flex;
    flex-wrap:wrap;
}


.blocks{
    border:2px solid black;

    grid-column:2/5 ;
    grid-row:2/6;
    display:grid;
    background-color:#deddd9;
    grid-template-columns: repeat(auto-fill, 350px);
    gap:10px;
    padding: 15px;

}

.item{
    background-color:white;
    padding:20px;
    display: flex;
    flex-direction: column;

}

body{
    font-family: 'Open Sans', sans-serif;
}

.item:hover, .notifications div:hover{
    background-color: #f2f2f2;
}


li:hover{
    font-weight:bold;
    color:white;
    cursor:pointer;
}

.bottom>.fa-solid:hover{
    color:#2241b3;
    cursor:pointer;
}

.bottom{
    display: flex;
    justify-content: flex-end;
    margin-top:20px;
}
.bottom>.fa-solid{
    margin:10px;
}

.header{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
   
}


#user{
    width:100px
}
#bell{
    color:white;
}

input[type="text"]{
    width:500px
}

#Welcome{
    color:white;
    font-size: 1.2rem;
}
