
li{
    list-style: none;
    font-size:1.2rem;
    width:100%;
    padding-top:5px;
    font-family: 'Open Sans', sans-serif;

}

.main{
    display:grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(5, 180px);
   ;}


    .nav{
        background-color: #CA0010;
        color:white;
        grid-row:1 /6;
        grid-column:1/ 2;
       
       
    }
    .header{
        background-color:#2241b3;
          
           grid-column: 2/8;
           grid-row:1/2;
       
       }
       
.logo{
    border:1px solid #CA0010;
    background-color: white;
}

ul{
    display:flex;
    flex-wrap:wrap;
}


.blocks{
    border:2px solid black;

    grid-column:2/5 ;
    grid-row:2/6;
    display:grid;
    background-color:#deddd9;
    grid-template-columns: repeat(auto-fill, 350px);
    gap:10px;
    padding: 15px;

}

.item{
    background-color:white;
    padding:20px;

}

body{
    font-family: 'Open Sans', sans-serif;
}